#loginBg {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:darken;
}

#user-page {
    /* border: solid 1px green; */
    position: relative;
    height: 85vh;
    width: 100%;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}