#home {
    position: absolute;
    overflow: hidden;
    margin: 0;
    width: 100%;
    /* border: 3px solid green; */
    padding: 10px;
    text-align: center;
    /* bottom: 0; */
    top: 30%;
    /* left: 50%; */
    /* background: rgba(0, 0, 0, 0.3); */
} 

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%; 
    min-height: 100%;
    background-blend-mode:darken;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

h1 {
    /* font-family: "acta-display", serif; */
    /* font-family: "Great Vibes", cursive; */
    font-family: 'Playfair Display', serif;
    /* font-weight: bold; */
    /* font-size: 113.5px; */
    font-size: 120px;
    /* letter-spacing: 0.5px; */
    /* color: rgb(57, 93, 87); */
    /* color:rgb(45, 134, 134); */
    color: white;
    line-height: 100px;
    /* text-shadow: 0 3.5px 1px rgb(229, 166, 31); */

    @media screen and (min-width: 800px) {
        font-size: 110px;
        line-height: 100px;
    }
}

.btn-group {
    /* border: 1px solid blue; */
    margin-top: 75px;
}

#reserve-btn {
    /* background-color: rgb(234, 175, 87); */
    background-color: antiquewhite;
    border: none;
    border-radius: 36px;
    /* font-family: 'Akaya Kanadaka'; */
    font-family: 'Playfair Display', serif;
    /* font-family: "Helvetica Neue",sans-serif; */
    /* color: rgb(152, 71, 9); */
    color: rgb(34, 29, 29);
    font-weight: bolder;
    padding: 2.5px 24px;
    margin-bottom: 6%;
    font-size: 35px;
    letter-spacing: 0.3rem;
    cursor: pointer;
    display: inline-flex;
    overflow: hidden;
    width: auto;
    max-width: 500px;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
}
#arrow-icon {
    display: none;
    visibility: hidden;
}

#reserve-btn:hover {
    /* background-color: rgb(152, 71, 9); */
	/* color: rgb(234, 175, 87); */
    /* width: 1em; */
    max-width: 700px;
    box-shadow: 5px 5px 10px #888888;
}

#reserve-btn:hover > #arrow-icon {
    display: inline;
    visibility: visible;
}

p {
    font-size: 25px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: rgb(57, 93, 87); */
    color:rgb(45, 134, 134);
    /* text-shadow: 0 1px 1px rgb(229, 166, 31); */
}

/* @media screen and (min-width: 380px) {
    p {
        color:brown;
    }
}
@media screen and (max-width: 700px) {
    p {
        color: rgb(57, 93, 87);
    }
} */

span {
    /* border: 1px solid blue; */
    margin-top: -10px;
}

#check-btn {
    /* background-color: rgb(234, 175, 87); */
    background-color: antiquewhite;
    /* border: 3px solid green; */
    border: none;
    border-radius: 36px;
    /* font-family: 'Akaya Kanadaka'; */
    font-family: 'Playfair Display', serif;
    /* color:rgb(152, 71, 9); */
    color: rgb(34, 29, 29);
    font-weight: bold;
    /* padding: 2.5px 12.5px; */
    padding: 2.5px 24px;
    margin-top: -5%;
    font-size: 25px;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

#check-btn:hover {
    /* background-color: rgb(152, 71, 9);
	color: rgb(234, 175, 87); */
    box-shadow: 5px 5px 10px #888888;
}