#loginBg {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-blend-mode:darken;
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
}

#reserve-page {
    /* border: solid 1px green; */
    position: relative;
    height: 85vh;
    width: 100%;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}