.App-logo {
	margin-left: 0.5em;
	margin-top: -0.1em;
	/* vertical-align: middle; */
	height: 18vh;
    width: auto;
	/* border: 1px solid blue; */
}

/* @media screen and (min-width: 300px) {
	.App-logo {
		height: auto;
		width: 20px;
	}
}
@media screen and (max-width: 700px) {
	.App-logo {
		height: 18vh;
		width: auto;
	}
} */

b {
    font-family: "Great Vibes", cursive;
    /* font-family: 'monospace'; */
    font-weight: bold;
    font-size: 40px;
    color: rgb(5, 22, 19);
    letter-spacing: 0.2rem;
}

.main-nav {
	/* border: 3px solid green; */
    /* background-color: rgba(240, 248, 255, 0.95); */
	height: 18vh;
    /* box-shadow: 10px 10px 20px #ccc; */
}

#nav-btn {
	background-color: rgb(234, 175, 87);
    text-transform:capitalize;
    border: none;
    border-radius: 24px;
    font-family: 'Akaya Kanadaka';
    color: rgb(152, 71, 9);
    font-weight: bold;
    padding: 2.5px 12.5px;
    margin-right: 1rem;
    margin-bottom: 15%;
    font-size: 28px;
    cursor: pointer;
}

#nav-btn:hover {
    background-color: rgb(152, 71, 9);
	color: rgb(234, 175, 87);
}